# FORMAT: <replace-with--name>  <replace-with-email>  <commit-name>  <commit-email>
# Omit commit-name or commit-email if same as replace-with.
# git log --pretty="%aN <%aE>%n%cN <%cE>" | sort | uniq

Marta Alerany Solé  <marta.alerany@bsc.es>  Marta Alerany   <marta.alerany@bsc.es>