# Tested using a conda environment with Python=3.11.5
# Before using pip install -r docs_requirements.txt, we need to install cartopy using conda:
# conda install -c conda-forge cartopy
# This is automatically done in docs_environment.yaml

cmocean
matplotlib
numpy
pandas
pint
pyproj
pyyaml
scipy
tqdm
xarray
xeofs
xesmf
Sphinx==7.2.6
Sphinx-rtd-theme==2.0.0
myst-parser==3.0.1